@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

/* Style for the header */
header {
    background-color: white;
    color: black;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Style for the product container */
.product-container {
    display: flex;
    flex-direction: column; /* Stack elements vertically on small screens */
    align-items: center;
    text-align: center; /* Center text content */
    padding: 5%;
}


/* Style for the product image */
.product-image img {
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
    border-radius: 10%;
}

@media (max-width: 767px) {
    .product-image img {
        max-width: 230px;
        max-height: 230px;
    }
}

/* Style for the product details */
.product-details {
    padding: 5%;
    border-radius: 5px;
    color: black;
    text-align: center; /* Center text content */
}

.product-details h2 {
    font-size: 24px;
    margin-bottom: 20px; /* Reduce margin on small screens */
}

.product-details p {
    font-size: 16px;
    margin-bottom: 20px;
}

.btn_one,
.btn_two {
    font-size: 16px; /* Reduce button font size */
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    background: transparent;
    border: 3px solid black;
    padding: 8px 20px; /* Adjust button padding for smaller screens */
    border-radius: 80px;
    font-weight: bold;
    margin: 10px; /* Increase margin for better spacing on small screens */
    transition: 0.4s ease-in-out;
    display: inline-block; /* Ensure buttons don't take full width on small screens */
}

.btn_two {
    color: white;
    background: rgb(255, 50, 50);
    border-color: white;
}

.btn_one:hover,
.btn_two:hover {
    cursor: pointer;
    color: rgb(255, 50, 50);
    background: black;
}
